.userlist{
    background-color: antiquewhite;
    margin: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    gap: 1rem;
    
}
body{
    background-color: burlywood;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}
.usravatar{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    
}

.userlist:hover{
    transform: scale(1.1);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.userlist:hover .usrname{
    color: crimson;
 
}

.editusr-form {
    display: none;
}